<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>MyWorkout | Programs</title>

    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css'
    />
    <link rel='stylesheet' href='/programView/styles.css' />
  </head>
  <body>
    {{#if hasPrograms}}
      <table>
        <thead><tr><th>Name</th><th>Exercises</th><th>Action</th></tr></thead>
        <tbody>{{#each programs}}
            <tr
              onclick="setEditProgram('{{this.name}}','{{this.programsExercisesIDs}}','{{this.id}}')"
            ><td>{{this.name}}</td><td>{{this.programExercises}}</td>
              <td>
                <button onclick="deleteProgram(event,'{{id}}')">Delete</button>
              </td>
            </tr>
          {{/each}}</tbody>
      </table>
      <form onsubmit='updateProgram(event)'>
        <h3>Edit a program</h3>
        <input
          id='programNameInput'
          name='name'
          placeholder='Click on a program to edit'
        />
        <h3>Exercises</h3>
        <select
          multiple='true'
          name='programExercises[]'
          id='editProgramExercises'
        >
          {{#each exercises}}
            <option value={{this.id}}>{{this.name}}</option>
          {{/each}}
        </select>
        <button type='submit' id='editButton' disabled='true'>Edit Program</button>
      </form>
    {{else}}
      <h3>No Programs available</h3>
    {{/if}}
    {{#if hasExercises}}
      <form action='/programs/view' method='post'>
        <h3>Create a program</h3>
        <input name='name' placeholder="Enter the program's name" />
        <h3>Exercises</h3>
        <select
          multiple='true'
          name='programExercises[]'
          id='addProgramExercises'
        >
          {{#each exercises}}
            <option value={{this.id}}>{{this.name}}</option>
          {{/each}}
        </select>
        <button type='submit'>Add Program</button>
      </form>
    {{/if}}
    <script
      src='https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js'
    ></script>
    <script src='/programView/programs.js'></script>
  </body>

</html>